<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Kontakt oss</h1>
    <nav>
        <a href="{{ url_for('index') }}">Hjem</a>
        <a href="{{ url_for('vis') }}">Se meldinger</a>
    </nav>
    <hr>
    <form method="POST" action="{{ url_for('kontakt') }}">
        {{ form.hidden_tag() }}
        <label for="navn">Navn:</label>
        {{ form.navn() }}

        <label for="epost">E-post:</label>
        {{ form.epost() }}

        <label for="melding">Melding:</label>
        {{ form.melding() }}

        <input type="submit" value="Send melding">
    </form>
</body>
</html>
