<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Rediger status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <h1>Rediger status</h1>
    <nav>
        <a href="{{ url_for('vis') }}">Tilbake til meldinger</a>
    </nav>
</header>
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <div class="flash-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endwith %}

    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="status">Status:</label>
        {{ form.status() }}
        {{ form.submit() }}
    </form>
</div>
</body>
</html>
